body{
    margin: 0%;
}
.background{
    text-align: center;
    position: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
    background-color: black;
    clip-path: polygon(0 0,100% 0,100% 100%,0 70%);
    box-shadow: 0 6px 12px 0 rgba(4,9, 20,0.33);
   
}
h1{
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    font-size: 60px;
}
@media (max-width: 1024px) {
    h1{
        position: relative;
        padding-top: 30px;
        padding-bottom: 20px;
        color: white;
        font-size: 50px;
    }
    
   
}
h3{
    color: white;
    padding-bottom: 10px;
}
.start{
display: inline-block;
padding: 15px 25px;
color:white;
background-color: teal;
outline: none;
border: none;
border-radius: 200px 200px 200px 200px;
box-shadow: 0 5px 10px 0 #999;

}
.start:hover{
background-color: rgb(16, 122, 122);
}
.start:active{
background-color: rgb(6, 95, 95 );
box-shadow: 0 2px 5px 0 #999;
transform: translateY(3px);
}
.main-heads {
    text-align: center;
}
 .opening-div a{
    position: absolute;
    text-decoration: none;
    text-align: center;
    
    
}
nav li{
    display: inline-block;
    
    position: relative;
}
nav a::before{
    border-radius: 200px 200px 200px 200px;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
}
nav a:hover::before{
    transform: scale(1,1);
}

 .ending-div a{
    position: absolute;
    text-decoration: none;
    text-align: center;
    
    
}
.ending-div img {
    box-shadow: 0 6px 12px 0 rgba(4,9, 20,0.33);
    border-radius: 2%;
    margin-bottom: 10px;
    
}
.opening-div img {
    box-shadow: 0 6px 12px 0 rgba(4,9, 20,0.33);
    border-radius: 2%;
    margin-bottom: 10px;
    
}
img:hover{
    box-shadow:0 4px 8px 0 rgba(4,9, 20,0.33);
    transform:scaleY(4px);
}
.board{
    float: right;
    margin-right: 200px;
    
}
.game{
padding-top: 100px;
}
#board2{
    margin: auto;
    
}

.opening-div {
    position: relative;
    height: 500px;
    margin-left: 250px;
    overflow-x: auto;
   
}
.Openings-2 {
    position: absolute;
    left: 700px;
    
    
}

.Openings-3 {
    position: absolute;
    left: 350px;
    
    
}

.opening-var-div {
    width: 50%;
}

.ending-div {
    position: relative;
    height: 500px;
    margin-left: 250px;
    overflow-x: auto;
}



.ending-2 {
    position: absolute;
    left: 700px;
  
}

.ending-3 {
    position: absolute;
    left: 350px;

}

.endgame-img {
    width: 321px;
    height: 318px;
}

.ending-var-div {
    width: 50%;
}
