.main-heads {
    text-align: center;
}


.board{
    float: right;
    margin-right: 200px;
}
.game{
padding-top: 100px;
}
#board2{
    margin: auto;
    
}

.opening-div {
    position: relative;
    width: 100%;
    height: 500px;
    
}

.Openings-2 {
    position: absolute;
    left: 700px;
    bottom: 155px;
    
}

.Openings-3 {
    position: absolute;
    left: 350px;
    bottom: 155px;
    
}

.opening-var-div {
    width: 50%;
}

.ending-div {
    position: relative;
    width: 100%;
    height: 500px;
}



.ending-2 {
    position: absolute;
    left: 700px;
    bottom: 155px;
}

.ending-3 {
    position: absolute;
    left: 350px;
    bottom: 155px;
}

.endgame-img {
    width: 321px;
    height: 318px;
}

.ending-var-div {
    width: 50%;
}
